<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a [routerLink]="['/eventos']">Inicio</a>
            <i class="fa fa-circle"></i>
            <a href="javascript:void(0);">Materiales</a>
        </li>
    </ul>
</div>
<h3 class="page-title"> Materiales Relacionados </h3>
<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-body">
                <div class="panel-group accordion" id="accordion-materials">
                    <div class="clearfix">
                        <button id="add-summary" (click)="addSummary()" class="btn sbold green pull-left">
                            Agregar <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <br />
                    <div *ngIf="materials | async">
                        <tree-assets [assets]="summaryList"></tree-assets>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>