<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a [routerLink]="['/sesiones']">Sesiones</a>
            <i class="fa fa-circle"></i>
            <span>Editar</span>
        </li>
    </ul>
</div>
<h3 class="page-title"> {{ addObj.title  }} </h3>
<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-body">
				<form method="post" (ngSubmit)="onSubmit(sessionData.value)" #sessionData="ngForm" class="form-sessions">
					<div class="form-body">

						<div class="form-group form-md-line-input">
							<label for="title_spanish">Título <span class="required" aria-required="true">*</span></label>
							<input type="text" name="title_spanish" class="form-control" [ngModel]="addObj.title.spanish">
							<span class="help-block">Ingrese el título para la sesión</span>
						</div>
						<div class="form-group form-md-line-input">
							<label for="title_english"></label>
							<input type="text" name="title_english" class="form-control" [ngModel]="addObj.title.english">
							<span class="help-block">Enter the session name</span>
						</div>

						<div class="form-group form-md-line-input">
							<label for="description_spanish">Descripción <span class="required" aria-required="true">*</span></label>
							<textarea name="description_spanish" class="form-control" [ngModel]="addObj.description.spanish"></textarea>
							<span class="help-block">Ingrese la descripción para la sesión</span>
						</div>
						<div class="form-group form-md-line-input">
							<label for="description_english"></label>
							<textarea name="description_english" class="form-control" [ngModel]="addObj.description.english"></textarea>
							<span class="help-block">Enter the session description</span>
						</div>

						<div class="form-group form-md-line-input">
							<label for="location_spanish">Locación <span class="required" aria-required="true">*</span></label>
							<input type="text" name="location_spanish" class="form-control" [ngModel]="addObj.location.spanish">
							<span class="help-block">Ingrese la locación para la sesión</span>
						</div>
						<div class="form-group form-md-line-input">
							<label for="location_english"></label>
							<input type="text" name="location_english" class="form-control" [ngModel]="addObj.location.english">
							<span class="help-block">Ingrese la locación para la sesión</span>
						</div>

						<div class="form-group form-md-line-input form-md-checkboxes">
							<div class="md-checkbox-inline">
                                <div class="md-checkbox">
                                    <input name="allDay" type="checkbox" [(ngModel)]="addObj.allDay" id="allDay" class="md-check">
                                    <label for="allDay">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Todo el día </label>
                                </div>
							</div>
						</div>
						
						<div class="form-group form-md-line-input">
							<div class="row">
								<div class="col-md-6">
									<label>Inicio <span class="required" aria-required="true">*</span></label>
									<datetime [timepicker]="timepickerStartOpts" [datepicker]="datepickerStartOpts" [ngModel]='addObj.startTime' name="startTime"></datetime>
									<span class="help-block">Ingrese la fecha y hora del inicio para la sesión</span>
								</div>
								<div class="col-md-6" [hidden]="addObj.allDay">
									<label>Fin <span class="required" aria-required="true">*</span></label>
									<datetime [timepicker]="timepickerEndOpts" [datepicker]="datepickerEndOpts" [ngModel]='addObj.endTime' name="endTime"></datetime>
									<span class="help-block">Ingrese la fecha y hora del final para la sesión</span>
								</div>
							</div>			
						</div>
						<div class="form-group form-md-line-input" *ngIf="people | async">
							<div class="row">
								<div class="col-md-12">
									<label for="speakers">Oradores <span class="required" aria-required="true">*</span></label>
									<ng-select [allowClear]="true" [items]="peopleItems"
											   [initData]="[]"
								               [multiple]="true"
											   (selected)="addSpeaker($event)"
		              						   (removed)="removeSpeaker($event)"
								               placeholder="Seleccione uno o varios">
								    </ng-select>
								</div>
							</div>
						</div>
						<div class="form-group form-md-line-input" *ngIf="people | async">
							<div class="row">
								<div class="col-md-12">
									<label for="speakers">Moderadores</label>
									<ng-select [allowClear]="true" [items]="peopleItems"
											   [initData]="[]"
								               [multiple]="true"
											   (selected)="addManager($event)"
		              						   (removed)="removeManager($event)"
								               placeholder="Seleccione uno o varios">
								    </ng-select>
								</div>
							</div>
						</div>
						<div class="form-group form-md-line-input">
							<label for="tags">Temas <span class="required" aria-required="true">*</span></label>
							<tag-input [ngModel]="addObj.tags"
										separatorKeys="[32]"
										name="tags"
										placeholder="Agregar tema"
										secondaryPlaceholder="Agregar tema"></tag-input>
						</div>
						
					</div>
					<div class="form-actions">
						<div class="row">
				            <div class="col-md-12 text-right">
				                <a [routerLink]="['/sesiones']" class="btn default"><i class="fa fa-arrow-left"></i> Regresar</a>
				                <button type="submit" class="btn green"><i class="fa fa-save"></i> Guardar</button>
				            </div>
				        </div>
					</div>
				</form>
            </div>
        </div>
    </div>
</div>