<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a [routerLink]="['/sesiones']">Sesiones</a>
            <i class="fa fa-circle"></i>
            <span>Editar</span>
        </li>
    </ul>
</div>
<h3 class="page-title"> {{ sessionObj.title  }} </h3>
<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-body">
				<form [hidden]="submitted" method="post" (ngSubmit)="onSubmit(sessionData.value)" #sessionData="ngForm" class="form-sessions">
					<div class="form-body">
						<div class="form-group form-md-line-input">
							<label for="day">Día <span class="required" aria-required="true">*</span></label>
							<select name="day" class="form-control" [ngModel]="sessionObj.day">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
						</div>
						<div class="form-group form-md-line-input">
							<label for="title">Título <span class="required" aria-required="true">*</span></label>
							<input type="text" name="title" class="form-control" [ngModel]="sessionObj.title">
							<span class="help-block">Ingrese el título para la sesión</span>
						</div>
						<div class="form-group form-md-line-input">
							<label for="description">Descripción <span class="required" aria-required="true">*</span></label>
							<textarea name="description" class="form-control" [ngModel]="sessionObj.description"></textarea>
							<span class="help-block">Ingrese la descripción para la sesión</span>
						</div>
						<div class="form-group form-md-line-input">
							<label for="location">Locación <span class="required" aria-required="true">*</span></label>
							<input type="text" name="location" class="form-control" [ngModel]="sessionObj.location">
							<span class="help-block">Ingrese la locación para la sesión</span>
						</div>
						<div class="form-group form-md-line-input form-md-checkboxes">
							<div class="md-checkbox-inline">
                                <div class="md-checkbox">
                                    <input name="allDay" type="checkbox" [(ngModel)]="sessionObj.allDay" id="allDay" class="md-check">
                                    <label for="allDay">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Todo el día </label>
                                </div>
							</div>
						</div>
						<div class="form-group form-md-line-input">
							<div class="row">
								<div class="col-md-6">
									<label>Inicio <span class="required" aria-required="true">*</span></label>
									<datetime [timepicker]="timepickerStartOpts" [datepicker]="datepickerStartOpts" [ngModel]='sessionObj.startTime' name="startTime"></datetime>
									<span class="help-block">Ingrese la fecha y hora del inicio para la sesión</span>
								</div>
								<div class="col-md-6" [hidden]="sessionObj.allDay">
									<label>Fin <span class="required" aria-required="true">*</span></label>
									<datetime [timepicker]="timepickerEndOpts" [datepicker]="datepickerEndOpts" [ngModel]='sessionObj.endTime' name="endTime"></datetime>
									<span class="help-block">Ingrese la fecha y hora del final para la sesión</span>
								</div>
							</div>			
						</div>
						<div class="form-group form-md-line-input" *ngIf="session | async">
							<div class="row">
								<div class="col-md-12">
									<label for="speakers"><strong>Oradores</strong></label>
									<ng-select [allowClear]="true" [items]="peopleItems"
											   [initData]="oratorSelect"
								               [multiple]="true"
											   (selected)="addSpeaker($event)"
		              						   (removed)="removeSpeaker($event)"
								               placeholder="Seleccione uno o varios">
								    </ng-select>
								</div>
							</div>
						</div>
						<div class="form-group form-md-line-input" *ngIf="session | async">
							<div class="row">
								<div class="col-md-12">
									<label for="speakers"><strong>Moderadores</strong></label>
									<ng-select [allowClear]="true" [items]="peopleItems"
											   [initData]="managerSelect"
								               [multiple]="true"
											   (selected)="addManager($event)"
		              						   (removed)="removeManager($event)"
								               placeholder="Seleccione uno o varios">
								    </ng-select>
								</div>
							</div>
						</div>
						<div class="form-group form-md-line-input" *ngIf="session | async">
							<label for="tags">Temas <span class="required" aria-required="true">*</span></label>
							<tag-input [ngModel]="sessionObj.tags"
										separatorKeys="[32]"
										name="tags"
										placeholder="Agregar tema"
										secondaryPlaceholder="Agregar tema"></tag-input>
						</div>
					</div>
					<div class="form-actions">
						<div class="row">
				            <div class="col-md-12 text-right">
				                <a [routerLink]="['/sesiones']" class="btn default"><i class="fa fa-arrow-left"></i> Regresar</a>
				                <button type="submit" class="btn green"><i class="fa fa-save"></i> Guardar</button>
				            </div>
				        </div>
					</div>
				</form>
				<div [hidden]="!submitted" class="sessions-details">
					<div class="row">
				      <div class="col-xs-3"><strong>Título</strong></div>
				      <div class="col-xs-9  pull-left">{{ sessionObj.title }}</div>
				    </div>
				    <br>
				    <div class="row">
				      <div class="col-xs-3"><strong>Descripción</strong></div>
				      <div class="col-xs-9 pull-left">{{ sessionObj.description }}</div>
				    </div>
				    <br>
				    <div class="row">
				      <div class="col-xs-3"><strong>Locación</strong></div>
				      <div class="col-xs-9 pull-left">{{ sessionObj.location }}</div>
				    </div>
				    <br>
				    <div class="row">
				      <div class="col-xs-3"><strong>URL amigable</strong></div>
				      <div class="col-xs-9 pull-left">{{ sessionObj.slug }}</div>
				    </div>
				    <br>
				    <button class="btn sbold green" (click)="submitted=false">Edit <i class="fa fa-edit"></i></button>
				</div>
            </div>
        </div>
    </div>
</div>