<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:void(0);">Sesiones</a>
        </li>
    </ul>
</div>
<h3 class="page-title"> Sesiones </h3>
<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-body">
            	<div class="table-container posRel">
            		<div class="table-toolbar questions-toolbar">
                    	<div class="row">
	                        <div class="col-md-12">
	                        	<button id="add-session" (click)="addSession()" class="btn sbold green">
	                        		Agregar <i class="fa fa-plus"></i>
                            	</button>
                                <div [hidden]="!isLoaded" class="day-filter">
                                    <label>Día</label>
                                    <select name="day" (change)="filtraPorDias(filtroDias.value)" #filtroDias >
                                        <option value="...">Todos</option>
                                        <option *ngFor="let evt of events" value="{{ evt.day }}">{{ evt.day }}</option>
                                    </select>
                                </div>
                                
	                        </div>
	                    </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover order-column" id="datatable_sessions" *ngIf="sessions | async">
                        <thead>
                            <tr role="row" class="heading">
                                <th width="15%">Inicio - Fin</th>
                                <th width="15%">Salón</th>
                                <th width="15%"> Título </th>
                                <th width="20%"> Oradores </th>
                                <th width="20%"> Moderadores </th>
                                <th width="15%">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let session of sessionList">
                                <td>{{ session.startTime | date:"dd-MMM-yy H:mm" }} <br/>
                                    <span [hidden]="session.allDay">{{ session.endTime | date:"dd-MMM-yy H:mm" }}</span>
                                </td>
                                <td>{{ session.location }} </td>
                                <td>{{ session.title | slice:0:60 }} <span *ngIf="session.title.length > 60">...</span></td>
                                <!--<td>{{ session.description | slice:0:60 }} <span *ngIf="session.description.length > 60">...</span></td> -->
                                <td>
                                	<div *ngFor="let speaker of session.speakers | objToArr">- {{ speaker.name }} <br/></div>
                                </td>
                                <td>
                                    <div *ngFor="let speaker of session.managers | objToArr">- {{ speaker.name }} <br/></div>
                                </td>
                                <td>
                                	<input type="hidden" value="{{ session.$key }}" #sessionId>
                                    <a href="javascript:;" (click)="editSession(session)" class="btn btn-circle btn-icon-only btn-default"><i class="fa fa-edit"></i></a>
                                    <a href="javascript:;" (click)="deleteSession(session)" class="btn btn-circle btn-icon-only btn-default"><i class="fa fa-trash"></i></a>
                                    <a href="javascript:;" *ngIf="session.hasSurvey" (click)="goToVotes(session)" title="Ver votaciones" class="btn btn-circle btn-icon-only btn-default"><i class="fa fa-list"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div [hidden]="isLoaded" class="sessions-loading" id="q-loading">
                        <img src="app/assets/global/img/loading.gif" alt="loading" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



