<div class="page-sidebar-wrapper">
	<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu sidebar-questions" data-keep-expanded="false" data-auto-scroll="true"
    data-slide-speed="200" [ngClass]="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">

        <!--<li class="start nav-item">
            <a [routerLink]="['/sesiones']" data-href="/sesiones" routerLinkActive="active">
                <i class="icon-home"></i>
                <span class="title">Sesiones</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/participantes']" data-href="/participantes">
                <i class="icon-user"></i>
                <span class="title">Participantes</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/preguntas']" data-href="/preguntas">
                <i class="icon-question"></i>
                <span class="title">Preguntas</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/votaciones']" data-href="/votaciones">
                <i class="icon-note"></i>
                <span class="title">Votaciones</span>
            </a>
        </li> -->
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
</div>