<div class="page-sidebar-wrapper">
	<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu sidebar-questions" data-keep-expanded="false" data-auto-scroll="true"
    data-slide-speed="200" [ngClass]="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <li class="start nav-item">
            <a [routerLink]="['/eventos']" data-href="#/eventos" routerLinkActive="active">
                <i class="fa fa-calendar"></i>
                <span class="title">Eventos</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/sesiones']" data-href="#/sesiones">
                <i class="fa fa-group"></i>
                <span class="title">Sesiones</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/participantes']" data-href="#/participantes">
                <i class="fa fa-user"></i>
                <span class="title">Participantes</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/preguntas']" data-href="#/preguntas">
                <i class="fa fa-question-circle"></i>
                <span class="title">Preguntas</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/votaciones']" data-href="#/votaciones">
                <i class="fa fa-thumbs-up"></i>
                <span class="title">Votaciones</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/temas']" data-href="#/temas">
                <i class="fa fa-tags"></i>
                <span class="title">Temas</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/chat']" data-href="#/chat">
                <i class="fa fa-commenting"></i>
                <span class="title">Chats</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/preguntas-frecuentes']" data-href="#/preguntas-frecuentes">
                <i class="fa fa-support"></i>
                <span class="title">Preguntas Frecuentes</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/info-general']" data-href="#/info-general">
                <i class="fa fa-info-circle"></i>
                <span class="title">Información General</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/patrocinadores']" data-href="#/patrocinadores">
                <i class="fa fa-user-plus"></i>
                <span class="title">Patrocinadores</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/materiales']" data-href="#/materiales">
                <i class="fa fa-file-pdf-o"></i>
                <span class="title">Materiales</span>
            </a>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
</div>