<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a [routerLink]="['/patrocinadores']">patrocinadores</a>
            <i class="fa fa-circle"></i>
            <span>Editar</span>
        </li>
    </ul>
</div>
<h3 class="page-title"> {{ sponsorObj.title  }} </h3>
<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-body">
				<form method="post" (ngSubmit)="onSubmit(sponsorData.value)" #sponsorData="ngForm" class="form-sessions">
					<div class="form-body" *ngIf="sponsor | async">
						<div class="form-group form-md-line-input">
							<label for="type">Tipo <span class="required" aria-required="true">*</span></label>
							<select name="type" class="form-control" [ngModel]="sponsorObj.type">
								<option value="Principal">Principal</option>
								<option value="Secundario">Secundario</option>
							</select>
							<span class="help-block">Ingrese el tipo de patrocinador</span>
						</div>
						<div class="form-group form-md-line-input">
							<label for="image">Logo <span class="required" aria-required="true">*</span></label>
							<img [src]="sponsorObj.src" height="50" class="img-thumbnail">
							<input type="file" name="image" class="form-control" id="logo-img" [ngModel]="sponsorObj.image">
							<span class="help-block">Seleccione el archivo de imagen</span>
						</div>
						<div class="form-group form-md-line-input">
							<label for="title">Nombre <span class="required" aria-required="true">*</span></label>
							<input type="text" name="title" class="form-control" [ngModel]="sponsorObj.title">
							<span class="help-block">Ingrese el título para el patrocinador</span>
						</div>
						<div class="form-group form-md-line-input">
							<label for="position">Posición <span class="required" aria-required="true">*</span></label>
							<input type="number" name="position" class="form-control" [ngModel]="sponsorObj.position">
							<span class="help-block">Ingrese la posición para el patrocinador</span>
						</div>
					</div>
					<div class="form-actions">
						<div class="row">
				            <div class="col-md-12 text-right">
				            	<img src="app/assets/global/img/input-spinner.gif" alt="loading" [hidden]="!saving" />
				            	<a [routerLink]="['/patrocinadores']" class="btn default"><i class="fa fa-arrow-left"></i> Regresar</a>
				                <button type="submit" class="btn green mt-ladda-btn ladda-button">
				                	<span class="ladda-label"><i class="fa fa-save"></i> Guardar</span>
				                	<span class="ladda-spinner"></span>
			                	</button>	                
				            </div>
				        </div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>