<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a [routerLink]="['/votaciones']">Votaciones</a>
            <i class="fa fa-circle"></i>
            <span>Nuevo</span>
        </li>
    </ul>
</div>
<h3 class="page-title"></h3>
<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-body">
				<form method="post" (ngSubmit)="onSubmit(voteData.value)" #voteData="ngForm" class="form-sessions">
					<div class="form-group form-md-line-input">
						<label for="votetype">Tipo <span class="required" aria-required="true">*</span></label>
						<select name="votetype" class="form-control" #typeVote [ngModel]="voteType" (change)="hideSession(typeVote.value)">
							<option value="v">Votación</option>
							<option value="e">Encuesta</option>
						</select>
					</div>
					<div class="form-group form-md-line-input" [hidden]="isEncuesta">
						<label for="sessionId">Sesión <span class="required" aria-required="true">*</span></label>
						<select name="sessionId" class="form-control" [ngModel]="addObj.sessionId">
							<option value="..." selected="selected">- Seleccione una sesión -</option>
							<option *ngFor="let session of sessions | async" value="{{ session.$key }}">{{ session.title.spanish }}</option>
						</select>
					</div>
					<div class="form-group form-md-line-input">
						<label for="question_spanish">Pregunta <span class="required" aria-required="true">*</span></label>
						<input type="text" name="question_spanish" class="form-control" [ngModel]="addObj.question.spanish">
						<span class="help-block">Ingrese la pregunta que será votada</span>
					</div>
					<div class="form-group form-md-line-input">
						<label for="question_english"></label>
						<input type="text" name="question_english" class="form-control" [ngModel]="addObj.question.english">
						<span class="help-block">Enter the question to be voted</span>
					</div>
					<div class="form-group form-md-line-input">
						<label for="tags">Opciones <span class="required" aria-required="true">*</span></label>
						<!--<tag-input [ngModel]="addObj.options"
									separatorKeys="[32]"
									name="options"
									placeholder="Agregar opción"
									secondaryPlaceholder="Agregar opción"></tag-input> -->
						<ul class="surveys-options-list new-opt clearfix">
							<li>
								<div>
									<input class="form-control" type="text" name="optionToAddSpanish" [(ngModel)]="optionToAdd.name.spanish" placeholder="Agrega una opción"/>
									<span class="help-block">Agregue la opción dando click en +</span>
									<button type="button" id="add-options" (click)="addOption()" class="btn sbold green"><i class="fa fa-plus"></i></button>
								</div>
								<br>
								<div>
									<input class="form-control" type="text" name="optionToAddEnglish" [(ngModel)]="optionToAdd.name.english" placeholder="Add option"/>
									<span class="help-block">Add option clicking to +</span>
								</div>
							</li>
						</ul>
						<br/>
						<ul class="surveys-options-list">
							<li *ngFor="let opt of options; let i = index">
								<div>
									<input class="form-control" type="text" value="{{ opt.name.spanish }}" #optEditingSpanish (blur)="editOption(optEditingSpanish.value,optEditingEnglish.value,i)" />
									<button type="button" (click)="deleteOption(i)" class="btn red"><i class="fa fa-trash"></i></button>
								</div>
								<div>
									<input class="form-control" type="text" value="{{ opt.name.english }}" #optEditingEnglish (blur)="editOption(optEditingSpanish.value,optEditingEnglish.value,i)" />
								</div>
								<br/>
							</li>
								
						</ul>

					</div>
					<div class="form-actions">
						<div class="row">
				            <div class="col-md-12 text-right">
				                <a [routerLink]="['/votaciones']" class="btn default"><i class="fa fa-arrow-left"></i> Regresar</a>
				                <button type="submit" class="btn green"><i class="fa fa-save"></i> Guardar</button>
				            </div>
				        </div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>